<!doctype hmtl>
<head>
    <link rel="stylesheet" href="/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
</head>
<title>Petition</title>
<body>

    {{{body}}}

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src = "/canvas.js"></script>
</body>
</html>
