<div class="container">
    {{> header}}
    <div class="main">
        <img src="/timeforlunch.jpg">
        <h1>Your signature has been deleted!</h1>
        <h2>You are still a member of LET's LUNCH Community</h2>
        <p>If you change your mind about our petition, click <a href="/petition">here</a> to sign it again.</p>

    </div>

</div>
