<div class = "container">
    {{> header}}
    <div class = "main">
        <img src="/timeforlunch.jpg">
        <h2>Now please tell us just a little more about yourself:</h2>
        <form class="register_form" method="post">
            {{#error}}
            <p style="color:red">Oups, something went wrong. Try again!</p>
            {{/error}}
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="number" name = "age" placeholder="age">
            <input type="text" name = "city" placeholder="city">
            <input type="url" name = "homepage" placeholder="homepage">

            <div class="profile_submit">
                <button>CONTINUE</button>
            </div>
        </form>

    </div>
